<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.securedelivery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureDelivery">
        <activity android:name=".ComplainActivity"></activity>
        <activity android:name=".ReceiveTransactionsActivity" />
        <activity android:name=".AssignProductsActivity" />
        <activity android:name=".OrdersListActivity" />
        <activity android:name=".WorkersListActivity" />
        <activity android:name=".CustomerHomeActivity" />
        <activity android:name=".ManagerHomeActivity" />
        <activity android:name=".WorkerHomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>